@import url('https://fonts.googleapis.com/css2?family=Mali:wght@600&display=swap');/*importa a fonte Mali do google*/

body{
    background-image: url('/assets/css/images/image2.png'); /*o fundo*/
    background-attachment: fixed;
    background-size: 100% 100.70%; /*ajusta o fundo*/
    background-repeat: no-repeat; /*não deixa ele estampado*/
    position: fixed; /*deixa fixo*/
    margin: 0px;
    height: 100%; /*altura 100*/
    width: 100%; /*largura 100*/
}
@media screen and (min-width: 800px){
.container-sm,p,h1,form,#esqueceu{ /*ajustes da minha caixa*/
    font-family: 'Mali', cursive;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative; /*relativo ao topo, ele vai espaçar 20% como mostra abaixo*/
    top: 20%; 
    
}
}
@media screen and (min-width: 300px){
h1{
    background-color: chartreuse;
    font: black;
    align-items: center;
    border-radius: 45px;
    height: 60px;
    width: 300px;
}
}
/*logo INFOKIDS*/
#logo{
    width:90px;
    box-sizing: 50px;
    right: 40%;
    margin-top: 0px;
    margin: 0;
    float: left;
    position: relative;
    right: 300px;


  /*logo IFSP*/  
}
#logo2{
    width:60px;
    box-sizing: 50px;
    right: 40%;
    margin-top: 0px;
    margin: 0;
    box-sizing: 50px;
    float: right;
    position: relative;
    left: 300px;
}
/*mensagem branca*/
p{
    font-family: 'Mali', cursive;
    justify-content: center;
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.5px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
    margin-top: 5%;

}
/*esqueceu a senha*/
#esqueceu{
    color:white;
    -webkit-text-stroke-width: 0.8px; /* largura da borda */
    -webkit-text-stroke-color: red; /* cor da borda */
    margin-top: 40px;

}
/*alinha os inputs e o botão sem ficar o escrito em cima do input*/
.row{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: relative;
}
/*ajusta somente os inputs*/
.holder{
    margin: 0;
    font-size: 30px;
    padding-right: 8px;
    -webkit-text-stroke-width: 1.1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
}
#botao1{
    margin-top: 15px;
    outline: none;
    background: rgb(61, 141, 216);
    border-color: rgb(47, 84, 153);
    border-radius: 5px;
    color: white ;
}
/*tira uma borda preta que fica depois que você clica nos inputs*/
#email,#senha{
    outline: none;
}
/*efeito de passar o mouse no input senha*/
#senha:hover {
    background-color: #fcff61;
  }
  /*mesma coisa, só que no e-mail*/
  #email:hover {
    background-color: #fcff61;
  }
  #botao1:hover{
      color: black;
      text-shadow: 0.1em 0.1em 0.2em black
  }
  #esqueceu:hover{
    text-shadow: 0.1em 0.1em 0.2em black /*sombrinha preta*/
  }
