@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    background-image: url('/assets/css/images/fundo_menu.png'); /*o fundo*/
    background-attachment: fixed;
    background-size: 100% 100.70%; /*ajusta o fundo*/
    background-repeat: no-repeat; /*não deixa ele estampado*/
    position:static; /*deixa fixo*/
    margin: 0px;
    height: 100%; /*altura 100*/
    width: 100%; /*largura 100*/
}
@media screen and (min-width: 800px){
.cabeçalho{
    flex-direction: row;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.corpo{
    background-color: #D6DAD7;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}
.linha1{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha2{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quizzes,#leitura,#videos,#desenho,#galeria{
width: 135px;
height: 137px;
margin: 20px;
padding-right: 50px;
padding-left: 50px;
}
h1{
    justify-content: center;
    align-items: center;
    margin-bottom: -23px;
    background-color: #D6DAD7;
    font-size: 64px;
    margin-right: -3%;
    border-radius: 10px;
    height: 60%;
    padding-right: 40px;
    padding-left:40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
}
#logo{
    width: 173.5px;
    height: 126.5px;

}
.linha1 p,.linha2 p{
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    text-decoration: none;
}
p{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
button{
    background-color: #42FF00;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border: none;
    width: 190px;
    height: 45px;
    border-radius: 20px;
}
}