@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
body{
    background-image: url('/assets/css/images/fundo_home.png'); /*o fundo*/
    background-attachment: fixed;
    background-size: 100% 100.70%; /*ajusta o fundo*/
    background-repeat: no-repeat; /*não deixa ele estampado*/
    position:static; /*deixa fixo*/
    margin: 0px;
    height: 100%; /*altura 100*/
    width: 100%; /*largura 100*/
}
@media screen and (min-width: 800px){

    .corpo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        justify-content: center;
        justify-items: center;
    }
.linha1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



h1{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Mali', cursive;
    color: black;
}


#logo{

    width: 173.5px;
    height: 126.5px;

}

p{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-top: -3px;
    font-size: 25px;
    text-align: justify;
    width: 700px;
    /* margin: 20px; */
}
button{
    background-color: #42FF00;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border: none;
    width: 190px;
    cursor: pointer;
    height: 45px;
    border-radius: 20px;
}
button:hover{
    background-color: #ff9d00;
    border-radius: 15px;
    box-shadow: 0px 4px 4px black;
}
h1:hover{
    color: dodgerblue;
}
.cabeçalho{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    align-items: center;
    
    
}
}